.block-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 62px 0 0 0;
  .subtitle {
    color: #008ed6;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 25px 0;
  }
  .title-black {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: black;
    margin: 0 0 32px 0;
    &:after {
      content: '';
      display: block;
      margin: auto;
      height: 2px;
      width: 44px;
      background-color: #008ed6;
      margin-top: 35px;
      @include max-screen(768px) {
        margin-top: 25px;
      }
    }
    @include max-screen(768px) {
      font-size: 32px;
      margin: 0 0 26px 0;
    }
    @include max-screen(414px) {
      font-size: 30px;
    }
    @include max-screen(375px) {
      font-size: 26px;
    }
  }
}
.block-pricing{
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px 0;
  @include max-screen(568px){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .item{
    max-width: 270px;
    height: 491px;
    border: solid 1px #434247;
    border-radius: 2px;
    @include max-screen(1024px){
      max-width: 220px;
    }
    @include max-screen(992px){
      max-width: 210px;
    }
    @include max-screen(568px){
      margin: 20px 0;
      max-width: 270px;
    }
    ul:hover{
      .pricing-name{color: #008ed6;}
      .price-month{background-color: #008ed6;color: white}
      .month{color: white}
      a{background-color: #008ed6;color: white}
      }

    .pricing-name{
      text-transform: uppercase;
      text-align: center;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      font-size: 24px;
      border-bottom: solid 1px #434247;
      padding: 30px 0 24px 0;
    }
    .price{
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 48px;
      text-align: center;
      padding: 44px 0 14px 0;
      sup{
        font-size: 30px;
      }
    }
    .month{
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 18px;
      text-align: center;
      border-bottom: solid 1px #434247;
      padding-bottom: 35px;
      color: #999999;
    }
    .price-info{
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #999999;
      text-align: center;
      padding: 50px 0 42px 0;
      span{
        color: #008ed6;
      }
    }
    .pricing-btn{
      text-align: center;
      margin: 42px 0 0 0;
      @include max-screen(812px){
        margin: 0;
      }
      a{
        border: solid 1px #434247;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        color: #008ed6;
        padding: 20px 42px;
        border-radius: 2px;
        @include max-screen(768px){
          padding:15px 30px;
        }
        @include max-screen(568px){
          padding: 20px 42px;
        }
      }
    }
  }
}